.button {
    padding: 14px 18px;
    border-radius: 8px;
    background-color: #e09145;
    border: 1px solid #e09145;
    color: #fcd9b8;
    cursor: pointer;

    &__header {
        color: #fff;
        transition: all 0.2s ease;

        &:hover {
            background-color: #292c35;
            color: #fcd9b8;
        }
    }

    &__list-modules {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        line-height: 1.2;

        background-color: #17181d;
        color: #e09145;
        transition: all 0.2s ease;

        & span {
            text-transform: lowercase;
            font-size: 17px;
        }

        &:hover {
            background-color: #e09145;
            color: #fcd9b8;
        }
    }

    &__reset {
        border: 1px solid #fcd9b8;
        transition: all 0.2s ease;

        &:hover {
            color: #fff;
            background: red;
            border: 1px solid red;
        }
    }

    &__submit {
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #fcd9b8;
        transition: all 0.2s ease;

        &:hover {
            color: #fff;
            background: green;
            border: 1px solid green;
        }
    }

    &__back {
        color: #fff;
        transition: all 0.2s ease;

        &:hover {
            background-color: #292c35;
            color: #fcd9b8;
        }
    }

    &__next {
        color: #fff;
        transition: all 0.2s ease;

        &:hover {
            background-color: #292c35;
            color: #fcd9b8;
        }
    }
}
