.position-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 5px 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    padding: 50px;

    @media (max-width: 500px) {
        gap: 150px;
    }
}

.button {
    padding: 12px 14px;
    border-radius: 84px;
    background-color: #e09145;
    color: #fcd9b8;
    cursor: pointer;

    &__header {
        // background-color: #e09145;
        // color: #fcd9b8;
        transition: all 0.2s ease;

        &:hover {
            color: #fff;
        }
    }

    &__reset {
        border: 1px solid #fcd9b8;
        transition: all 0.2s ease;

        &:hover {
            color: #fff;
            background: red;
            border: 1px solid red;
        }
    }

    &__submit {
        border: 1px solid #fcd9b8;
        transition: all 0.2s ease;

        &:hover {
            color: #fff;
            background: green;
            border: 1px solid green;
        }
    }

    &__back {
        transition: all 0.2s ease;

        &:hover {
            color: whitesmoke;
        }
    }

    &__next {
        transition: all 0.2s ease;

        &:hover {
            color: whitesmoke;
        }
    }
}
