.position-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 5px 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    padding: 50px;

    @media (max-width: 500px) {
        gap: 150px;
    }
}

.button {
    padding: 12px;
    border-radius: 84px;
    background-color: #e09145;
    color: #fcd9b8;
    cursor: pointer;

    &__header {
        // background-color: #e09145;
        // color: #fcd9b8;
    }

    &__reset {
        &:hover {
            color: #fff;
            background: red;
        }
    }

    &__submit {
        &:hover {
            color: #fff;
            background: green;
        }
    }

    &__back {
        &:hover {
            // background: rgb(52, 56, 61);
            color: whitesmoke;
        }
    }

    &__next {
        &:hover {
            // background: rgb(52, 56, 61);
            color: whitesmoke;
        }
    }
}
