body {
    font-family: "Montserrat";
    font-size: 16px;
    background: #292c35;
}

.wrapper {
    padding-top: 70px;

    @media (max-width: 500px) {
        padding-top: 0;
    }
}

.title {
    text-transform: uppercase;
    font-size: 18px;
    color: #17181d;
    text-align: center;
}

.subtitle {
    padding: 10px;
    text-transform: lowercase;
    font-size: 17px;
    color: #292c35;
    text-align: center;
}
