body {
    font-family: "Montserrat";
    font-size: 16px;
    // background: #292c35;
    background: linear-gradient(0deg, #292c35, #17181d);
}

.wrapper {
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    padding: 50px;
    margin: 0 auto;

    @media (max-width: 500px) {
        padding: 40px 20px;
    }

    &--center {
        justify-content: center;
        padding: 30px;
    }
}
