.modules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
}
.module {
    padding: 0 0 10px;

    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;

    &::after {
        content: "";
        display: inline-block;
        margin: 2px;
        padding: 5px 5px 0;
        border-top: 2px solid white;
    }

    &::before {
        content: "";
        display: inline-block;
        margin: 2px;
        padding: 5px 5px 0;
        border-top: 2px solid white;
    }
}
.day {
    text-transform: capitalize;
    & li {
        padding: 10px 0;

        & a {
            color: #fcd9b8;

            &:visited {
                // color: white;
            }
        }
    }
}
